
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    height: 77px;
    max-width: 100%;
    background:rgb(206, 206, 206);
    display: flex;
    justify-content:flex-end;
    flex-direction: row;
    align-items: center;
}

.pageUser {
    width: 165px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    margin-right: 30px;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    


    
}

.pageUser img {
    height: 30px;
    width: 30px;
    margin: 5px;
}


.pageUser a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555555;
    font-size: 12px;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.pageUser a:hover{
    transition:
    color: coral;
}

/* Formulario */

.login_container {
    min-height: 400px;
    width: 300px;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    padding: 32px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cacaca;
}

.login_title {
    margin-bottom: 32px;
    color: rgb(190, 190, 190);
}

.login_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_input{
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;

}

.login_input-border{
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: aquamarine;
    transition: .3s ease-in-out;
}


.login_input-border::after{
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background: linear-gradient(120deg, #1f73f1, #ff4c82);
    transition: 3s;
}

.login_submit{
    height: 50px;
    width: 100%;
    outline: none;
    background: #cccccc;
    background-size: 200px;
    margin-bottom: 32px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.login_reset{
    font-size: 12px;
    text-decoration: none;
    color: #ff4c82;
    text-align: center;
}